html,body,header,main,section,h1,h2,h3,p,span,nav,ul,li,a,form,input,button,div,footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    outline: none;

    font-family: 'Lato', sans-serif;
}
:root{
    --red:#dc143c;
    --red-hover:#dd2c50;

    --blue: #2d8cf0;
    --white: #ffffff;
    --whiteGray: #e0e0e0;
    --corBorda: #cdcdcd;
    --boxShadow: #121212;

    --yellow: #ffff00;
}